@import "tailwindcss";

/* Importing fonts directly in tailwind.css */
@layer base {
  /* ------------ Proxima Nova ------------ */

  /* Thin */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/thin.woff2");

    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/thin-it.woff2");

    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
  }

  /* Light */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/light.woff2");

    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/light-it.woff2");

    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
  }

  /* Regular */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    cross-origin: anonymous;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/medium-it.woff2");

    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
  }

  /* Medium */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/medium.woff2");

    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/medium-it.woff2");

    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
  }

  /* Semibold */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/semibold.woff2");

    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/semibold-it.woff2");

    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
  }

  /* Bold */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/bold.woff2");

    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/bold-it.woff2");

    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
  }

  /* Extrabold */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/extrabold.woff2");

    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/extrabold-it.woff2");

    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
  }

  /* Black */
  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/black.woff2");

    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Proxima-Nova";
    src: url("/fonts/proxima-nova/black-it.woff2");

    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
  }

  /* ------------ Retroica ------------ */

  /* Regular */
  @font-face {
    font-family: "Retroica";
    src: url("/fonts/retroica/Retroica.ttf");

    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

  /* ------------ Vision ------------ */

  /* Thin */
  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/thin.otf");

    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/thin-it.otf");

    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
  }

  /* Light */
  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/light.otf");

    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/light-it.otf");

    font-style: italic;
    font-weight: 200;
    font-stretch: normal;
  }

  /* Regular */
  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/regular.otf");

    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/regular-it.otf");

    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
  }

  /* Bold */
  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/bold.otf");

    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/bold-it.otf");

    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
  }

  /* Black */
  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/black.otf");

    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/black-it.otf");

    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
  }

  /* Heavy */
  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/heavy.otf");

    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Vision";
    src: url("/fonts/vision/heavy-it.otf");

    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
  }

  /* ------------ Merriweather ------------ */
  /* Light */
  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/light.woff2");

    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/light-it.woff2");

    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
  }

  /* Regular */
  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/regular.woff2");

    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/regular-it.woff2");

    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
  }

  /* Bold */
  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/bold.woff2");

    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/bold-it.woff2");

    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
  }

  /* Ultrabold */
  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/ultrabold.woff2");

    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

  @font-face {
    font-family: "Merriweather";
    src: url("/fonts/merriweather/ultrabold-it.woff2");

    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* TODO: I think this is related to the relume preset in tailwind.config.ts. Once we fix relume, we can add this back in */
/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* ------------ Search Input Type - Cancel Button ------------ */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

/* ------------ Content Padding ------------ */
/* This is used to add padding to the content of the page along with side with the max-w-screen-content class */
/* Replaces the px-5 md:px-12 lg:px-18 classes */
@layer components {
  .content-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (min-width: 768px) {
    .content-padding {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  @media (min-width: 1024px) {
    .content-padding {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
    }
  }
}
