.html-renderer {
  ul,
  ol {
    margin: 0.75rem 0;
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  /* Nested/indented lists */
  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin: 0.1rem 0;
  }
}

/* .article-content is being added so that only the child tags of the article-content elements have this edited styling */
/* H1 - H3 -> Titles */
.article-content,
.content-block {
  a {
    /* Ocean */
    color: #0092bc;
    text-decoration: underline;
  }

  h2,
  h3 {
    color: #222222;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }

  h1 {
    color: #222222;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* H4 - H6 -> Subtitles */
  h4,
  h5,
  h6 {
    color: #222222;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}

.article-content {
  p,
  div {
    color: #222222;
    font-weight: 300;
  }

  p {
    margin-bottom: 0.5rem;
  }

  img {
    width: 100%;
    height: 400px;
  }

  .article-image + p {
    border-left: solid 2px #0092bc;
    padding-left: 0.5rem;
    margin-bottom: 1.3rem;
  }

  blockquote {
    font-style: italic;
    border-left: solid 2px #0092bc;
    padding-left: 0.5rem;
    margin: 1rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    color: #222222;
  }

  /* Lists */
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
    color: #222222;
  }

  ul {
    list-style-type: disc;
  }

  /* Nested/indented lists */
  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin: 0.1rem 0;
    color: #222222;
    font-weight: 300;
  }

  /* Text formatting */
  strong,
  b {
    font-weight: 600;
    color: #222222;
  }

  em,
  i {
    font-style: italic;
  }
}

.content-block {
  /* base font styles */
  color: #666666;
  font-weight: 400;

  /* Lists */
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
    color: #666666;
  }

  ul {
    list-style-type: disc;
  }

  /* Nested/indented lists */
  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin: 0.1rem 0;
  }

  /* Text formatting */
  p {
    margin-bottom: 0.5rem;
  }

  strong,
  b {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
  }
}

.devotional-content {
  p {
    margin-bottom: 0.5rem;
  }

  a {
    /* Ocean */
    color: #0092bc;
    text-decoration: underline;
  }

  blockquote {
    font-style: italic;
    border-left: solid 2px #0092bc;
    padding-left: 1.5rem;
    margin: 1rem 0;
    font-size: 1.25rem;
  }

  /* Lists */
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
    color: #222222;
  }

  ul {
    list-style-type: disc;
  }

  /* Nested/indented lists */
  ul ul {
    list-style-type: circle;
    margin-top: 0;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin: 0.1rem 0;
    color: #222222;
    font-weight: 300;
  }

  /* Text formatting */
  strong,
  b {
    font-weight: 600;
    color: #222222;
  }

  em,
  i {
    font-style: italic;
  }
}
