/* .article-content is being added so that only the child tags of the article-content elements have this edited styling */

/* H1 - H3 -> Titles */
.article-content {
  h1,
  h2,
  h3 {
    color: #222222;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* H4 - H6 -> Subtitles */
  h4,
  h5,
  h6 {
    color: #222222;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }

  p,
  div {
    color: #222222;
    font-weight: 300;
  }

  img {
    width: 100%;
    height: 400px;
  }

  .article-image + p {
    border-left: solid 2px #0092bc;
    padding-left: 0.5rem;
    margin-bottom: 1.3rem;
  }

  a {
    color: #0092bc;
    text-decoration: underline;
  }

  blockquote {
    font-style: italic;
    border-left: solid 2px #0092bc;
    padding-left: 0.5rem;
    margin: 1rem 0;
    font-size: 1.15rem;
    font-weight: 300;
    color: #222222;
  }
}
